 @font-face {
    font-family: 'gotham_light';
    src: url("GOTHAM/Gotham/GothamLight.otf");
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'gotham_rounded';
    src: url("GOTHAM/Gotham_rounded/GothamRnd-Light.otf");
    font-weight: normal;
    font-style: normal;
}
